<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>
<p>
	Splurty was created at some point in time by some programmer somewhere.
</p>

<div class="col-xs-12 col-sm-6">
	<%= image_tag 'SHOES.JPG', :class => 'img-responsive' %>
</div>

<br class="clear">
<br />
<br />
<br />